<!DOCTYPE html>
<html lang="en" ng-app="ProjectSol">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Project Sol</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <link href="assets/css/style.css" rel="stylesheet"/>
    <link href="//bootswatch.com/flatly/bootstrap.min.css" rel="stylesheet"/>
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/services/wattageService.js"></script>
    <script src="assets/js/controllers/graphingController.js"></script>
</head>
<body>
<div class="app-container" ng-controller="graphingController">
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">Project Sol</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-6 col-sm-12">
            <div class="well">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label for="inclination" class="control-label col-xs-4">Angle relative to the ground</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control input-lg" id="inclination" ng-disabled="loading"
                                       placeholder="Angle" ng-model="panelSettings.inclination">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="angleRelativeToMedians" class="control-label col-xs-4">
                                Angle relative to the medians
                            </label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control input-lg" id="angleRelativeToMedians"
                                       ng-disabled="loading" placeholder="Angle" ng-model="panelSettings.angleRelativeToMedians">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lat" class="control-label col-xs-4">
                                Latitude
                            </label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control input-lg" id="lat" ng-disabled="loading"
                                       placeholder="Latitude" ng-model="panelSettings.latitude">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lng" class="control-label col-xs-4">
                                Longitude
                            </label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control input-lg" id="lng" ng-disabled="loading"
                                       placeholder="Longitude" ng-model="panelSettings.longitude">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-8 col-xs-offset-4">
                                <button class="btn btn-success btn-block btn-lg" ng-show="!loading"
                                        ng-click="calculate(panelSettings)">Check</button>
                                <button class="btn btn-success btn-block btn-lg disabled" ng-show="loading">
                                    <i class="fa fa-circle-o-notch fa-spin"></i> Calculating
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>